#nosotros{
    border-bottom: $bd-gris;
}

.nosotros-text{
    color: $bl;
    text-align: center;
    line-height: $sm;
    font-size: $sm;
    margin-bottom: 40px;
}

h1{
    color: $bl;
    text-align: center;
    line-height: $lg;
    font-size: 2.8em;
}