$bk: black;
$vd:#5cdb95;
$bl:white;
$pink: rgb(229, 12, 171);
$yellow: rgb(241, 241, 82);
$gris: rgba(255, 253, 253, 0.502);
$vdOscuro: #278551;
$red: #d63031;
$red2: #b70e21;
$st: sticky;
$md: 1.5em;
$sm: 1em;
$lg: 4em;
$trs1: all 0.5s ease;
$trs2: all ease 0.25s;
$trs3: all 0.25s ease;
$trs4: all 0.50s ease;
$bd-gris: 1px solid rgba(255,255,255,0.2);
$pft: 8px 30px;
$pnv: 20px 30px;
$hz: row;
$nd: none;
$old: 100px;
$mt: 50px;
$fonts:'Bruno Ace SC', cursive;